# Fichiers de compilation Java
*.class
*.jar
*.war
*.ear

# Dossiers de build
/target/
/bin/
/build/

# Fichiers IDE
.settings/
.project
.classpath
.metadata

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers logs
*.log

# Fichiers Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup